<!DOCTYPE html>
<html>
<head>
    <title>browse file</title>
    <meta charset="utf-8">

    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            background: black;
        }

        table {
            width: 100%;
            border-spacing: 15px;
        }

        td {
            text-align: center;
            padding: 5px;
            background: #181818;
        }

        img {
            border: 5px solid #303030;
            padding: 0;
            verticle-align: middle;
        }

        img:hover {
            border-color: blue;
            cursor: pointer;
        }
    </style>

</head>


<body>

<table>
    {% for image in images %}
        {% if (loop.index % 4) == 1 %}<tr>{% endif %}
        <td><img src="{{ image.src }}" width="150px" height="150px">
        {#   <a href="{{ path('filestorage_remove', {'id': image.id}) }}">Удалить</a> #}
        </td>
        {% if (loop.index % 4) == 0 or ((images|length < 4) and (loop.index == images|length)) %}
            </tr>
        {% endif %}
    {% endfor %}
</table>

<script>
    tbl = document.getElementsByTagName('table')[0];

    td = tbl.getElementsByTagName('td');

    tbl.onclick =
            function (e) {

                var tgt = e.target || event.srcElement, url;

                if (tgt.nodeName != 'IMG')
                    return;

                url = tgt.src;

                this.onclick = null;

                window.opener.CKEDITOR.tools.callFunction( {{ app.request.get('CKEditorFuncNum') }}, url);

                window.close();
            }
</script>
</body>
</html>