{% extends '::base.html.twig' %}

{% block content %}

<h2 class="text-center">
    <a href="/">Главная</a>
</h2>


        <div class="divTable" style="width: 40%;border: 1px solid #000;" >
            <div class="divTableBody">

                    {% for one_task in  tasks %}
                       <div class="divTableRow">
                            <div id="first" class="divTableCell">
                                 1
                            </div>
                            {% createphp one_task as="rdf" noautotag %}
                                <div {{ createphp_attributes(rdf) }}>
                                     <div   class="divTableCell"  {{ createphp_attributes( rdf.name ) }}>{{ createphp_content( rdf.name ) }} </div>
                                     <div   class="divTableCell"  {{ createphp_attributes( rdf.description )  }}>{{ createphp_content( rdf.description ) |raw}} </div>
                                </div>
                            {% endcreatephp %}

                            <div id="third" class="divTableCell">
                                3
                                <!-- третья колонка -->
                            </div>
                       </div>
                    {% endfor %}
            </div>
        </div>


{% endblock %}
