{% extends '::base.html.twig' %}

{% block content %}

    <h2 class="text-center">
        <a href="/">Главная</a>
    </h2>
    <table>
        <tr>
            {% createphp entity as="rdf" noautotag %}
                <div {{ createphp_attributes(rdf) }}>
                    <div {{ createphp_attributes( rdf.name ) }}>{{ createphp_content( rdf.name ) }} </div>
                    <div {{ createphp_attributes( rdf.description )  }}>{{ createphp_content( rdf.description ) | raw}}</div>
                </div>
            {% endcreatephp %}
        </tr>
    </table>
{% endblock %}
