{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}
{#
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/taskmbundle/js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/taskmbundle/js/ckeditor/adapters/jquery.js') }}">
        console.log('sd');
    </script>
    <script type="text/javascript">
        $(function() {
            $('textarea.ckeditor').ckeditor();
        });
    </script>
{% endblock %}
#}