<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Менеджер задач{% endblock %}</title>
    {% block stylesheets %}
        {% include "CmfCreateBundle::includecssfiles.html.twig" %}
        {% render(controller("cmf_create.jsloader.controller:includeJSFilesAction")) %}
        <link href="{{ asset('bundles/taskm/css/Style.css') }}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<header>
    <div class="container">
        {#    <div class="Head"> Head </div>#}
    </div>
</header>


<div class="container">
    {% block content %}{% endblock %}
</div>

<div class="footer">
        <a href="/orders">Foot</a></li>
</div>

{% block page_script %}
{% endblock %}

</body>
</html>